<div class="about">
  <p class="about__p">Info or FAQ-type text will go here, not very much though. May need to include a few images of icons if explaining what they mean (e.g. upload existing cards)</p>
  <ul class="about__ul">
    <li>Some feature is great</li>
    <li>This is also a really cool feature you may enjoy</li>
    <li>Also this which is very good</li>
  </ul>
  <p class="about__p">Info or FAQ-type text will go here, not very much though. May need to include a few images of icons if explaining what they mean.</p>
</div>