<div class="info">
  <p>Info or FAQ-type text will go here, not very much though. May need to include a few images of icons if explaining what they mean (e.g. upload existing cards)</p>
  <p>Info or FAQ-type text will go here, not very much though. May need to include a few images of icons if explaining what they mean.</p>
</div>