<div class="card__difficulty card__difficulty--diff{{diff}} card__difficulty--reverse"></div>
<div class="card__textcontainer" id="answerside">
  <div class="card__text {{#if long}}card__text--long{{/if}} {{#if leftalign}}card__text--leftalign{{/if}}">
    {{#each aText}}
      <p>{{this}}{{#unless @last}}{{../separator}}{{/unless}}</p>
    {{/each}}
  </div>
</div>