<nav class="deckmenu">
  {{#each deck}}
    <div class="deck__container">
      <a href='#/edit/{{this.name}}' class='deck__editicon' title="edit deck"><img src="../assets/edit-dark.svg" class="deck__editicon"></a>
      <a href="#/train/{{this.name}}">
        <div class="deck">
          <p class="deck__length">{{this.cardLength}} cards</p>
          <div class="deck__band">
            <h2 class="deck__title">{{this.shortname}}</h2>
          </div>
          {{#if this.averageDifficulty}}
          <div class="avgchart" title="difficulty">{{[helpers/avgchart] this.averageDifficulty}}
            <p class="avgchart__label">AVERAGE DIFFICULTY</p>
          </div>
          {{/if}}        
        </div>
      </a>
      <div class="deck deck--behind1"></div>
      <div class="deck deck--behind2"></div>
    </div>
  {{/each}}
</nav>