<div class="modal__message">
  <p>Delete <span class="italic">{{displayName}}</span>?</p>
  <p>This can't be undone.</p>
</div>
<div class="buttonrow buttonrow--short">
  <button id="confirmDelete" class="button button--primary">DELETE DECK</button>
  <button id="cancelDelete" class="button button--secondary">CANCEL</button>
</div>