<div class="modal__message">
  <p>Tap to select difficulty range:</p>
  <div class="diffselector">
    <div class="diffselector__num">1</div>
    <div class="diffselector__num">2</div>
    <div class="diffselector__num">3</div>
    <div class="diffselector__num">4</div>
    <div class="diffselector__num">5</div>
    <div class="diffselector__frame">
      <div class="diffselector__pointer"></div>
      <div class="diffselector__pointer"></div>
    </div>
    <div class="diffselector__overlay" data-diffnum="1"></div>
    <div class="diffselector__overlay" data-diffnum="2"></div>
    <div class="diffselector__overlay" data-diffnum="3"></div>
    <div class="diffselector__overlay" data-diffnum="4"></div>
    <div class="diffselector__overlay" data-diffnum="5"></div>
  </div>
<div id="selectorButton" class="buttonrow buttonrow--fixed buttonrow--modal" data-name="{{name}}"></div>