<div class="edit edit--new">
  <div class="edit__flexcontainer">
    <textarea class="edit__input edit__input--dark js-newside1" type="text" placeholder="Side 1" tabindex="1"></textarea>
    <textarea class="edit__input edit__input--dark js-newside2"  type="text" placeholder="Side 2" tabindex="2"></textarea>
  </div>
  <img src="../assets/plus-rounded.svg" class="edit__add js-add" tabindex="3">
</div>