<div class="edit edit--new">
  <input class="edit__input" type="text" placeholder="Side 1">
  <input class="edit__input"  type="text" placeholder="Side 2">
  <img src="../assets/plus-rounded.svg" class="edit__add js-add">
</div>