<div class="buttonrow buttonrow--double">
  <button class="button button--primary" id="show">SHOW ANSWER</button>
  <button class="button button--secondary" id="shuffle">SHUFFLE &AMP; START AGAIN</button>
</div>