<div class="card__difficulty card__difficulty--diff{{diff}}"></div>
<p class="card__diffnumber card__diffnumber--diff{{diff}}">{{diff}}</p>
<div class="card__text {{#if long}}card__text--long{{/if}}">
  <p>{{qText}}</p>
</div>