<div class="card__difficulty card__difficulty--diff{{diff}}"></div>
<p class="card__diffnumber card__diffnumber--diff{{diff}}">{{diff}}</p>
<div class="card__textcontainer" id="questionside">
  <div class="card__text {{#if long}}card__text--long{{/if}} {{#if leftalign}}card__text--leftalign{{/if}}">
    <p>{{qText}}</p>
  </div>
</div>
