<header class="modal__header">
  <img src="../assets/back.svg" class="modal__close" aria-label="Close modal" data-micromodal-close>
  <h1 class="modal__title" id="settingsModal-title">{{displayName}}</h1>
  <button class="modal__close modal__close--desktop" aria-label="Close modal" data-micromodal-close>
</header>
<div class="settings">
  <div class="settings__group">
    <h2 class="settings__title">QUIZ SETTINGS</h2>
    <div class="settings__option">
      <label class="settings__label">Question side:</label>
    </div>
    <div class="settings__option">
      <label class="settings__label">Auto-mark answers:</label>
    </div>
    <div class="settings__option">
      <label class="settings__label">Display all answers:</label>
    </div>
  </div>
  <div class="settings__group">
    <h2 class="settings__title">CARD DISPLAY SETTINGS</h2>
    <div class="settings__option">
      <label class="settings__label">Align text:</label>
    </div>
    <div class="settings__option">
      <label class="settings__label">Separate answers with:</label>
    </div>
  </div>
  <div class="settings__group">
    <h2 class="settings__title">DECK ACTIONS</h2>
    <div class="settings__option">
      
    </div>
  </div>
</div>