<header class="modal__header">
  <img src="../assets/back.svg" class="modal__close" aria-label="Close modal" data-micromodal-close>
  <h2 class="modal__title" id="settingsModal-title">{{displayName}}</h2>
  <button class="modal__close modal__close--desktop" aria-label="Close modal" data-micromodal-close></button>
</header>
<div class="modal__content">
</div>