@media screen and (min-width: $breakpoint-desktop)
  body
    background-color: $white
    background-image: url("../assets/background-texture-pale.png")

  .header
    +justify-content(space-between)
    height: 75px
    box-shadow: 0px 1px 11px 1px $lightgrey

  .header__icon
    display: none

  .logo__title
    font-size: 52px
    margin-bottom: 2px

  .logo__icon--large
    width: 75px
    height: 49px
    margin: 0 8px -5px 13px

  .main
    +align-items(flex-start)
    
  .deckmenu
    grid-template-columns: repeat(auto-fill, $deckwidthbig)
    width: 100%
    max-width: 1270px
    margin-left: 0
    padding-left: 20px
    padding-right: 190px