@media screen and (min-width: $breakpoint-desktop)
  body
    background-color: $white
    background-image: url("../assets/background-texture-pale.png")

  .button
    box-shadow: 1px 2px 4px 0px $lightgrey

  .button--nav
    +displayflex()
    +flex-direction(row)
    +justify-content(space-around)
    +align-items(center)
    margin: 3px auto 3px 10px
    padding: 5px
    border: 1px solid $white
    border-radius: 15px
    box-shadow: none
    font-family: $sans-serif
    font-weight: $semibold
    font-size: 18px

  .button--nav:hover
    margin: 0 auto 0 6px
    border-width: 3px
    font-weight: $semibold
    cursor: pointer

  .button--nav p
    margin: 0 0 0 5px
    padding: 0

  .header
    box-shadow: 0px 1px 11px 1px $lightgrey

  .header__icon
    display: none

  .logo
    position: absolute
    left: 0

  .logo--min
    position: relative
    display: block

  .logo__title
    margin-bottom: 2px
    font-size: 40px

  .logo__title--min
    margin-bottom: 0
    font-size: 26px

  .logo__icon
    margin-right: 2px
    margin-bottom: -3px

  .logo__icon--large
    height: 36px
    width: auto
    margin: 0 4px -5px 13px

  .main
    +align-items(flex-start)
    
  .buttonrow--vertical
    grid-template-columns: [col1-start] 1fr [col1-end]
    grid-template-rows: [row1-start] 1fr [row2-start] 1fr [row2-end]
    row-gap: 25px
    bottom: 25px
    right: 25px
    width: auto

  .button--primary
    width: 404px
    height: 76px

  .button--circle
    position: relative
    width: 90px
    height: 90px
    border-radius: 90px

  .button__icon
    +standardTransition()

  .button__flyout
    +displayflex()
    +align-items(center)
    position: absolute
    right: 0
    width: 0
    height: 40px
    margin-right: 80px
    +standardTransition()

  .button--primary .button__flyout
    background-color: $accent

  .button--secondary .button__flyout
    background-color: $main
  
  .button__flyout p
    max-height: 1.2em
    overflow: hidden
    margin: 0
    font-family: $sans-serif
    font-weight: $semibold
    font-size: 20px

  .button--circle:hover .button__flyout
    width: 160px
    height: 51px
    padding-left: 8px
    +standardTransition()

  .button--primary.button--circle:hover .button__icon
    +rotate(90)
    +standardTransition()

  .button--secondary.button--circle:hover .button__icon
    +scale(1.2)
    +standardTransition()

  .deckmenu
    grid-template-columns: repeat(auto-fill, $deckwidthbig)
    width: 100%
    margin-left: 0
    padding-left: 30px
    padding-right: 120px

  .edit
    grid-template-columns: [col1-start] 1fr [col2-start] 60px [col3-start] 50px [col3-end]
    
  .edit--new
    margin-top: $header-height-big + 47px

  .edit__add
    grid-column-start: col2-start
    grid-column-end: col3-end

  .edit__selector
    grid-column-start: col2-start
    grid-column-end: col3-start
    grid-row-start: row1-start
    grid-row-end: row2-end
    height: 60px
    width: 90%
    margin: auto
    padding-left: 35%
  
  .edit__delete
    grid-column-start: col3-start
    grid-column-end: col3-end
    grid-row-start: row1-start
    grid-row-end: row2-end
    height: 37px
    width: 35px
    margin: auto
    