@media screen and (min-device-width: $breakpoint-desktop)
  .header
    height: 100px
    box-shadow: $darkgrey 0 1 11 1

  .header--thin
    height: 75px

  .header__icon
    display: none

  .logo__icon--large
    width: 75px
    height: 49px