@import 'project-mixins'

html
  box-sizing: border-box

body
  @extend %textured-background
  @extend %unpad
  font-family: $sans-serif
  color: $darkgrey

a
  text-decoration: none
  color: inherit

.header
  +displayflex()
  +justify-content(center)
  +align-items(center)
  height: 46px
  width: 100%
  background-color: $main
  +standardTransition(height)

.header--fixed
  position: fixed
  top: 0
  left: 0
  z-index: 999

.header__icon

.header__icon--back
  margin-left: 10px
  height: 20px
  width: 13px

.logo

.logo--min

.logo__title
  @extend %unpad
  display: inline-block
  font-weight: $extrabold
  font-size: 24px
  color: $white
  +standardTransition(font-size)

.logo__icon
  margin-right: 5px
  margin-bottom: -2px
  width: 37px
  height: 24px
  +rotate('-8')
  +standardTransition()

.main
  +displayflex()
  +justify-content(center)
  +align-items(center)
  +flex-wrap(wrap)
  overflow-x: hidden
  padding-top: 77px

.deckmenu
  display: grid
  -ms-grid-columns: 1fr 1fr
  grid-template-columns: 1fr 1fr
  grid-column-gap: 7px
  grid-row-gap: 9px
  margin: 0 auto 20px
  
.deck
  width: 178px
  height: 238px
  border: 1px solid $darkgrey
  border-radius: 24px
  background-color: $white
  font-size: 12px
  +standardTransition()

.deck__container:hover .deck--behind1
  +translate(0, 2px)

.deck__container:hover .deck--behind2,
  +translate(0, 4px)

.deck--behind1
  position: absolute
  z-index: -1
  top: 2px

.deck--behind2
  position: absolute
  z-index: -2
  top: 4px

.deck__container
  position: relative
  height: 238px + 5px

.deck__editicon
  position: absolute
  top: 11px
  right: 7px
  z-index: 10
  width: 23px
  height: 18px
  text-decoration: none
  fill: $darkgrey

.deck__editicon:hover
  fill: $accent

.deck__length
  margin: 1em auto
  text-align: center

.deck__band
  +displayflex()
  +justify-content(center)
  +align-items(center)
  height: 74px
  border-top: 1px solid $darkgrey
  border-bottom: 1px solid $darkgrey
  background-color: $white
  +standardTransition()

.deck__title
  color: $darkgrey
  font-weight: $semibold
  font-size: 16px
  text-transform: uppercase
  text-align: center

.avgchart
  +displayflex()
  +flex-direction(row)
  +justify-content(space-between)
  +align-items(flex-end)
  width: 99px
  margin: 40px auto auto

.avgchart__bar
  width: 14px
  height: 21px
  background-color: $diff1
  color: $darkgrey

.avgchart__bar:nth-child(2)
  background-color: $diff2

.avgchart__bar:nth-child(3)
  background-color: $diff3

.avgchart__bar:nth-child(4)
  background-color: $diff4

.avgchart__bar:nth-child(5)
  background-color: $diff5
  color: #fff

.avgchart__bar--tall
  +displayflex()
  +justify-content(center)
  +align-items(center)
  width: 35px
  height: 41px

.avgchart__num
  @extend %unpad
  font-weight: $extrabold
  font-size: 24px

.avgchart__label
  display: none

@import 'tablet'
@import 'desktop'