@import 'project-mixins'

*
  box-sizing: border-box

body
  @extend %textured-background
  @extend %unpad
  font-family: $sans-serif
  color: $darkgrey
  +standardTransition(background)

a
  text-decoration: none
  color: inherit

.header
  +displayflex()
  +justify-content(center)
  +align-items(center)
  height: $header-height-small
  width: 100%
  background-color: $main
  +standardTransition(height)

.header--fixed
  position: fixed
  top: 0
  left: 0
  z-index: 999

.header__title
  font-family: $sans-serif
  font-size: 24px
  color: $white
  font-weight: $regular
  text-align: center

.header__title--widescreen
  display: none

.header__title--editable
  width: 220px
  font-size: 20px
  font-weight: $light
  color: $main

.header__nav
  position: absolute

.header__nav--left
  left: 9px

.header__nav--right
  right: 9px
  +displayflex()
  +flex-direction(row)

.header__icon:hover
  cursor: pointer

.header__icon--back
  height: 20px
  width: 13px

.header__icon--home
  height: 23px
  width: 36px
  +rotate('-8')

.header__icon--settings
  height: 23px
  width: 23px

.header__icon--edit
  height: 23px
  width: 29px

.logo--min
  display: none

.logo__title
  @extend %unpad
  display: inline-block
  font-weight: $extrabold
  font-size: 24px
  color: $white
  +standardTransition(font-size)

.logo__icon
  margin-right: 5px
  margin-bottom: -2px
  height: 24px
  width: auto
  +rotate('-8')
  +standardTransition()

.main
  +displayflex()
  +justify-content(center)
  +align-items(center)
  +flex-wrap(wrap)
  overflow-x: hidden

.buttonrow
  display: grid
  -ms-grid-columns: [col1-start] 1fr [col2-start] 1fr [col2-end]
  grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col2-end]
  position: fixed
  bottom: -3px
  width: 100%
  z-index: 99

.buttonrow--double
  -ms-grid-rows: [row1-start] 1fr [row2-start] 1fr [row2-end]
  grid-template-rows: 1fr 1fr

.button
  +displayflex()
  +align-items(center)
  +justify-content(center)
  color: $white

.button--nav
  display: none

.button--primary
  order: 2
  height: 60px
  background-color: $accent

.button--secondary
  background-color: $main

.button--fullwidth
  grid-column-end: col2-end

.button__flyout
  display: none

.deckmenu
  display: grid
  justify-content: space-between
  -ms-grid-columns: 1fr 1fr
  grid-template-columns: 1fr 1fr
  grid-row-gap: 9px
  width: 98%
  margin: $header-height-small+31px auto 80px

.deck__container
  position: relative
  margin: 0 auto
  height: 238px + 5px
  
.deck
  width: 178px
  height: 238px
  border: 1px solid $darkgrey
  border-radius: 24px
  background-color: $white
  font-size: 12px
  +standardTransition()

.deck__container:hover .deck--behind1
  +translate(0, 2px)

.deck__container:hover .deck--behind2,
  +translate(0, 4px)

.deck--behind1
  position: absolute
  z-index: -1
  top: 2px

.deck--behind2
  position: absolute
  z-index: -2
  top: 4px

.deck__link
  position: absolute
  top: 11px
  right: 7px
  display: inline-block
  z-index: 10

.deck__editicon
  width: 27px
  height: 21px
  fill: $darkgrey

.deck__editicon:hover
  fill: $accent
  cursor: pointer

.deck__length
  margin: 1em auto
  text-align: center

.deck__band
  +displayflex()
  +justify-content(center)
  +align-items(center)
  height: 74px
  border-top: 1px solid $darkgrey
  border-bottom: 1px solid $darkgrey
  background-color: $white
  +standardTransition()

.deck__title
  color: $darkgrey
  font-weight: $semibold
  font-size: 16px
  text-transform: uppercase
  text-align: center

.avgchart
  +displayflex()
  +flex-direction(row)
  +justify-content(space-between)
  +align-items(flex-end)
  width: 99px
  margin: 40px auto auto

.avgchart__bar
  width: 14px
  height: 21px

@for $i from 1 through 5
  .avgchart__bar:nth-child(#{$i})
    background-color: nth($diffcolors, $i)
    color: nth($difffonts, $i)

.avgchart__bar:nth-child(5)
  color: #fff

.avgchart__bar--tall
  +displayflex()
  +justify-content(center)
  +align-items(center)
  width: 35px
  height: 41px

.avgchart__num
  @extend %unpad
  font-weight: $extrabold
  font-size: 24px

.avgchart__label
  display: none

.edit
  display: grid
  grid-column-gap: 5px
  grid-template-columns: [col1-start] 1fr [col2-start] 50px [col2-end]
  grid-template-rows: [row1-start] 36px [row2-start] 36px [row3-start] 1fr [row3-end]
  width: 97%
  margin: 0 auto 10px
  padding: 5px
  background-color: $white

.edit--new
  border: 1px dashed $lightgrey 
  background-color: transparent
  margin: $header-height-small+16px auto 20px

.edit__add
  grid-column-start: col2-start
  grid-row-start: row1-start
  grid-row-end: row3-start
  margin: auto

.edit__flexcontainer
  grid-column-start: col1-start
  grid-column-end: col2-start
  grid-row-start: row1-start
  grid-row-end: row2-end
  +displayflex()
  +flex-direction(column)

.edit__input
  width: 100%
  height: 36px
  padding: 6px
  border: 1px solid $darkgrey
  font-family: $sans-serif
  font-weight: $regular
  font-size: 18px
  color: $darkgrey
  white-space: nowrap
  overflow: hidden
  resize: none
  +standardTransition(height)

.edit__input:first-child
  margin-bottom: 5px

.edit__input:focus
  white-space: normal
  +standardTransition(height)

.edit__input::placeholder
  color: $lightgrey
  font-style: italic

.edit__input--dark
  border: none
  background-color: $main
  color: $white

.edit__input--dark::placeholder
  color: $white
  opacity: 0.8

.edit__selector
  -webkit-appearance: none
  -moz-appearance: none
  grid-column-start: col2-start
  grid-column-end: col2-end
  grid-row-start: row1-start
  grid-row-end: row2-start
  width: 100%
  height: 36px
  padding-left: 38%
  border: none
  border-radius: 0
  font-family: $sans-serif
  font-weight: $extrabold
  font-size: 22px

@for $i from 1 through 5
  .edit__selector--diff#{$i}
    background-color: nth($diffcolors, $i)
    color: nth($difffonts, $i)

.edit__delete
  grid-column-start: col2-start
  grid-row-start: row2-start
  height: 30px
  width: 28px
  margin: auto auto -2px

.edit__selector:hover,
.edit__delete:hover
  cursor: pointer

.progress
  height: 12px
  width: 100%
  margin-top: $header-height-small

.card
  position: relative
  height: 416px
  width: 100%
  margin: 11px 7px 0
  background-color: $white
  border-radius: 24px
  overflow: hidden
  +standardTransition()

.card__textcontainer
  +displayflex()
  +align-items(center)
  height: 100%
  width: 100%
  padding: 12px 0
  overflow-y: scroll
  overflow-x: hidden

.card__text
  max-width: 94%
  margin: 0 auto
  font-family: $sans-serif
  font-weight: $regular
  font-size: 20px
  text-align: center
  white-space: pre-line

.card__text--long
  font-size: 16px
  +align-self(flex-start)

.card__text--leftalign
  text-align: left

.card__text p
  @extend %unpad

.card__difficulty
  position: absolute
  top: $card-difficulty-size / -2
  right: $card-difficulty-size / -2
  height: $card-difficulty-size
  width: $card-difficulty-size
  +rotate(45)

@for $i from 1 through 5
  .card__difficulty--diff#{$i}
    background-color: nth($diffcolors, $i)

.card__diffnumber
  @extend %unpad
  position: absolute
  top: $card-difficulty-size * 0.02
  right: $card-difficulty-size * 0.12
  font-family: $sans-serif
  font-weight: $extrabold
  font-size: 22px

@for $i from 1 through 5
  .card__diffnumber--diff#{$i}
    color: nth($difffonts, $i)

@import 'tablet'
@import 'desktop'