@import 'project-mixins'

body
  @extend %textured-background
  @extend %unpad
  font-family: $sans-serif
  color: $darkgrey

.header
  +displayflex()
  +justify-content(center)
  +align-items(center)
  height: 46px
  width: 100%
  background-color: $main

.logo

.logo--min

.logo__title
  @extend %unpad
  display: inline-block
  font-weight: $extrabold
  font-size: 24px
  color: $white

.logo__icon
  margin-right: 5px
  margin-bottom: -2px
  width: 37px
  height: 24px
  +rotate('-8')

@import 'tablet'
@import 'desktop'