@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,800&subset=latin-ext')

//project colours

$white: #FFF
$lightgrey: #C9C9C9
$darkgrey: #4A4A4A
$accent: #FFAA39
$main: #38375B
$mainlight: #5D5D8E
$diff1: #FFF1C4
$diff2: #FFDF96
$diff3: #FFCD68
$diff4: #FFBC50
$diff5: #FFAA39

//font families

$sans-serif: 'Open Sans', sans-serif

//font weights

$extrabold: 800
$semibold: 600
$regular: 400
$light: 300

//backgrounds

%textured-background
  background-image: url("../assets/background-texture.png")
  background-color: $main