$avgbar: 18px
$avgbarwide: 46px

@media screen and (min-width: 567px)
  .deckmenu
    -ms-grid-columns: 1fr 1fr 1fr
    grid-template-columns: 1fr 1fr 1fr
  
@media screen and (min-width: $breakpoint-tablet)
  .header
    height: 65px

  .header__title--editable
    width: 518px
    font-size: 30px

  .header__icon--back
    height: 37px
    width: 24px

  .header__icon--settings
    height: 37px
    width: 37px

  .logo__title
    font-size: 36px

  .main
    padding-top: 120px

  .deckmenu
    -ms-grid-columns: 1fr 1fr 1fr
    grid-template-columns: 1fr 1fr 1fr
    grid-column-gap: 17px
    grid-row-gap: 20px

  .deck
    width: $deckwidthbig
    height: $deckheightbig
    font-size: 14px
  
  .deck__container
    height: $deckheightbig + 5px

  .deck__title
    font-size: 18px

  .avgchart
    +flex-wrap(wrap)
    width: ($avgbar * 4) + $avgbarwide + (3px * 4)
    margin-top: 46px

  .avgchart__bar
    width: $avgbar
    height: 36px

  .avgchart__bar--tall
    width: $avgbarwide
    height: 70px

  .avgchart__label
    display: block
    width: 100%
    font-weight: $light
    font-size: 12px
    text-align: center

  .edit__input
    font-size: 20px